{% extends "conan_db_app/base.html" %}
{% load static %}

{% block title %}組織詳細{% endblock %}

{% block main %}
<main>
    <h1>真実はいつも一つ</h1>
    <p>{{object.name}}</p>
    <table>
        <tr>
            <th>所属者</th>
            <th>役割</th>
        </tr>
        {% for i_character in object.character_set.all %}
        <tr>
            <td><a href="{% url 'conan_db_app:detail' pk=i_character.id page=1 %}">{{i_character.name}}</a></td>
            <td>
            {% for i_profession in i_character.profession.all %}
                {% if i_profession.affiliation == object %}
                    {{ i_profession.name }}
                {% endif %}
            {% endfor %}
            </td>
        </tr>
    {% endfor %}
    </table>
</main>
{% endblock %}