{% load static %}
<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'conan_db_app/css/dist/output.css' %}"/>
    <title>{% block title %}{% endblock %}</title>
    </head>
    <body class="min-h-screen bg-amber-50 flex flex-col [&>main]:flex-1">

        {% block main %}{% endblock %}

        <footer>
            <p>test</p>
            <p>test</p>
            <p>test</p>
            <p>test</p>
            <p>test</p>
            <p>test</p>
            <p>test</p>
        </footer>

        <div class="h-[50px]"></div>{% comment %} dummy フッターとフッターナビゲーションがかぶるのを防ぐため。 {% endcomment %}

        <nav class="fixed bottom-0">
            <ul class="flex [&>li]:flex-1 text-center w-screen h-[50px]">
                <li>人物</li>
                <li>事件</li>
                <li>名言</li>
                <li>その他</li>
            </ul>
        </nav>

    </body>
</html>
