{% load static %}
<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'conan_db_app/css/dist/output.css' %}"/>
    <title>{% block title %}{% endblock %}</title>
    </head>
    <body class="min-h-screen bg-amber-50 flex flex-col [&>main]:flex-1">

        {% block main %}{% endblock %}

        <footer>
            <p>test</p>
            <p>test</p>
            <p>test</p>
            <p>test</p>
            <p>test</p>
            <p>test</p>
            <p>test</p>
        </footer>

        <div class="h-[50px]"></div>{% comment %} dummy フッターとフッターナビゲーションがかぶるのを防ぐため。 {% endcomment %}

        <nav class="fixed bottom-0">
            <ul class="flex [&>li]:flex-1 text-center w-screen h-[50px]
                bg-[url('/static/conan_db_app/images/bg_renga.jpg')] bg-[length:100%_1000%]
                [&>li]:border-2 [&>li]:border-solid [&>li]:border-amber-50 [&>li]:text-white [&>li]:text-2xl">
                <li><a href="{% url 'conan_db_app:list' %}">人物</a></li>
                <li><a href="{% url 'conan_db_app:case' %}">事件</a></li>
                <li><a href="{% url 'conan_db_app:wiseword' %}">名言</a></li>
                <li><a href="{% url 'conan_db_app:others' %}">その他</a></li>
            </ul>
        </nav>

    </body>
</html>
