{% extends "conan_db_app/base.html" %}
{% load static %}

{% block title %}事件リスト{% endblock %}

{% block main %}
<main>
    <h1>真実はいつも一つ</h1>
    <table>
        <tr>
            <th>名前</th>
        </tr>
    {% for case in object_list %}
        <tr>
            <td> 
                <details>
                    <summary>事件{{case.number}} :<a href="{% url 'conan_db_app:case_detail' pk=case.number %}">{{case.name}}</a>
                        (
                        {% for i_chapter in case.chapter_set.all %}
                            {% ifchanged  i_chapter.volume.number %}
                                {{i_chapter.volume.number}}巻 
                            {% endifchanged %}
                            {% comment %} <li>{{i_chapter.name}}</li> {% endcomment %}
                        {% endfor %}
                        ) 
                        {% for i_kind in case.kind.all %}
                        <
                            {{ i_kind.name }}
                        >
                        {% endfor %}
                        {% for i_chapter in case.chapter_set.all|dictsort:"number_in_all" %}
                            {% if i_chapter.event_set.first %}
                                <span>*</span>
                            {% endif %}
                        {% endfor %}
                    </summary>
                    <table>
                        <tr>
                            <th>話数</th>
                            <th>登場人物</th>
                            <th>重要な出来事</th>
                        </tr>
                        {% for i_chapter in case.chapter_set.all|dictsort:"number_in_all" %}
                        <tr>
                            {% comment %} <td><a href="{% url 'conan_db_app:chapter_detail' pk=i_chapter.id %}">{{i_chapter.name}}</a></td> {% endcomment %}
                            <td>{{i_chapter.volume.number}}巻 {{i_chapter.number_in_volume}}話 {{i_chapter.name}}</td>
                            <td>
                                {% for i_character in i_chapter.character_set.all %}
                                <a href="{% url 'conan_db_app:detail' pk=i_character.id %}">{{i_character.name}}</a>
                                {% endfor %}
                            </td>
                            <td>
                                {% for i_event in i_chapter.event_set.all %}
                                <ul>
                                    <li>{{ i_event.content }}</li>
                                </ul>
                                {% endfor %}
                            </td>
                        </tr>
                        {% endfor %}
                    </table>                
                </details>
            </td>
        </tr>
    {% endfor %}
    </table>
    <form action="{% url 'conan_db_app:case_list' %}" method="post" name="refine_form">
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="click">
        {{ form3 }}
        <input type="submit" value="click">
        {{ form4 }}
        <input type="submit" value="click">
        {{ form5 }}
        <input type="submit" value="click">
        {{ form6 }}
        <input type="submit" value="click">
        <button class="btn">
            update</button>
    </form>
    <button><a href="{% url 'conan_db_app:case_list' %}">クリア</a></button>
    {% if page_obj.has_previous %}
    <li>
        <ul class="[&>li]:text-center [&>li]:text-xl [&>li]:py-2">
            <li class="page-item">
                <a href="javascript:plusPageAndSendForm({{1}})">
                &laquo; first</a>
            </li>
            <li class="page-item">
                <a href="javascript:plusPageAndSendForm({{page_obj.previous_page_number}})">
                &laquo; prev</a>
            </li>
        </ul>
    </li>
    {% endif %}
    {% if page_obj.has_next %}
    <li>
        <ul class="[&>li]:text-center [&>li]:text-xl [&>li]:py-2">
            <li class="page-item">
                <a href="javascript:plusPageAndSendForm({{page_obj.next_page_number}})">
                next &raquo;</a>
            </li>
            <li class="page-item">
                <a href="javascript:plusPageAndSendForm({{page_obj.paginator.num_pages}})">
                last &raquo;</a>
            </li>
        </ul>
    </li>
    {% endif %}
</main>
{% endblock %}