{% extends "conan_db_app/base.html" %}
{% load static %}

{% block title %}キャラクター詳細{% endblock %}

{% block main %}
<main>
    <h1>真実はいつも一つ</h1>
    <img src="{% static 'conan_db_app/images/conan.jpg' %}" alt="conan" class="w-[30vw] h-auto">
    <table class="w-[100vw] md:w-[25vw]">
        <tr>
            <th>名前</th>
            <td>{{data.name}}</td>
        </tr>
        <tr>
            <th>性別</th>
            <td>{{data.gender}}</td>
        </tr>
        <tr>
            <th>年齢</th>
            <td>{{data.age}}</td>
        </tr>
        <tr>
            <th>誕生日</th>
            <td>{{data.birthday|date:"m/d" }}</td>
        </tr>
        <tr>
            <th>職業</th>
            <td>{{data.profession}}</td>
        </tr>
    </table>
    {% comment %} <div class="fixed bottom-[calc(50px-20vh+24px)] h-[20vh] w-[min(100vw,500px)] "> {% endcomment %}
        {% comment %} <label for="open_close" class="fixed right-1">△</label> {% endcomment %}
    <input id='open_close' type="checkbox" class="fixed peer"/>
    <div class="fixed bottom-[50px] h-[20vh] w-[100vw] md:w-[50vw] md:right-[25vw] peer-checked:bottom-[calc(50px-20vh+24px)]">
        <h2>
            補足    
            <label for="open_close">⇅</label>
        </h2>
        <article>{{data.complement}}</article>
    </div>
    <table class="w-[100vw] md:w-[25vw]">
        <tr>
            <th>登場話</th>
            <td>
                <ul>
                    <li class="hidden">{% comment %} ダミー。最初の Volume. を追加するときの頭の閉じタグに対応。 {% endcomment %}
                        <ul class="hidden"> {% comment %} ダミー。最初の Volume. を追加するときの頭の閉じタグに対応。 {% endcomment %}
                            {% for item in data2 %}
                            {% ifchanged  item.volume.number %}
                                </ul></li><li>{{item.volume.number}} 巻<ul>
                            {% endifchanged %} 
                            <li>
                                {{item.number}} 話 ({{item.name}})
                            </li>
                            {% endfor %}
                        </ul>
                    </li>
                </ul>
            </td>
        </tr>
    </table>    
</main>
{% endblock %}
