<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
</head>
<body>
    <h1>真実はいつも一つ</h1>
 
    {% for question in object_list %}
        <div>
            {{question.content}}
            <p>{{ question.option1 }}</p>
            <p>{{ question.option2 }}</p>
            {% if question.option3 != "" %}
               <p>{{ question.option3 }}</p>
            {% endif %}
            {% if question.option4 != "" %}
               <p>{{ question.option4 }}</p>
            {% endif %}
            {% if question.option5 != "" %}
               <p>{{ question.option5 }}</p>
            {% endif %}
        </div>
    {% endfor %}

    {% if page_obj.has_previous %}
        <a class="text-lg"href="{% url 'conan_db_app:question_list' %}?page=1">
        &laquo; first</a>
        <a class="text-lg"href="{% url 'conan_db_app:question_list' %}?page=page_obj.previous_page_number">
        &laquo; prev</a>
    {% endif %}

    {% if page_obj.has_next %}
        <a class="text-lg"href="{% url 'conan_db_app:question_list' %}?page=page_obj.next_page_number" >
        next &raquo;</a>
        <a class="text-lg"href="{% url 'conan_db_app:question_list' %}?page=page_obj.paginator.num_pages">
        last &raquo;</a>
    {% endif %}

</body>
</html>