{% extends "conan_db_app/base.html" %}
{% load static %}

{% block title %}問題・アンケートリスト{% endblock %}

{% block main %}
<main> 
    <div  class="flex-col">
    {% for question in object_list %}
        <div class="w-[30vw] flex-1 mx-auto block m-8 p-8 bg-white border-solid border-2 rounded-md border-gray-300" >
            <h3>{{question.content}}<h3>
            <ul class="[&>li]:bg-amber-50 [&>li]:my-2 [&>li]:border-solid 
                [&>li]:border-2 [&>li]:rounded-md [&>li]:border-gray-300 ">
            <li>{{ question.option1 }}</li>
            <li>{{ question.option2 }}</li>
            {% if question.option3 != "" %}
               <li>{{ question.option3 }}</li>
            {% endif %}
            {% if question.option4 != "" %}
               <li>{{ question.option4 }}</li>
            {% endif %}
            {% if question.option5 != "" %}
               <li>{{ question.option5 }}</li>
            {% endif %}
            </ul>
        </div>
    {% endfor %}

    </div>

    {% if page_obj.has_previous %}
        <a class="text-lg" href="{% url 'conan_db_app:question_list' %}?page=1">
        &laquo; first</a>
        <a class="text-lg" href="{% url 'conan_db_app:question_list' %}?page={{page_obj.previous_page_number}}">
        &laquo; prev</a>
    {% endif %}

    {% if page_obj.has_next %}
        <a class="text-lg" href="{% url 'conan_db_app:question_list' %}?page={{page_obj.next_page_number}}" >
        next &raquo;</a>
        <a class="text-lg" href="{% url 'conan_db_app:question_list' %}?page={{page_obj.paginator.num_pages}}">
        last &raquo;</a>
    {% endif %}
</main>

{% endblock %}